* {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
}
section {
  background-color: hsl(0, 0%, 81%);
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.top {
}
.tleft {
  background-color: hsl(263, 55%, 52%);
  background-image: url(images/bg-pattern-quotation.svg);
  background-position-x: right;
  background-repeat: no-repeat;
  width: 80vw;
  height: 55vh;
  margin: auto;
  border-radius: 10px;
  max-height: 400px;
  max-width: 450px;
}
.tright {
  background-color: hsl(217, 19%, 35%);
  width: 80vw;
  height: 35vh;
  margin: auto;
  margin-top: 2vh;
  border-radius: 10px;
  max-height: 400px;
  max-width: 450px;
}
.bottom {
}
.bleft {
  background-color: hsl(0, 0%, 100%);
  width: 80vw;
  height: 30vh;
  margin: auto;
  margin-top: 2vh;
  border-radius: 10px;
  max-height: 400px;
  max-width: 450px;
}
.bright {
  background-color: hsl(219, 29%, 14%);
  width: 80vw;
  height: 50vh;
  margin: auto;
  margin-top: 2vh;
  border-radius: 10px;
  max-height: 400px;
  max-width: 450px;
}
aside {
  background-color: hsl(0, 0%, 100%);
  width: 80vw;
  height: 65vh;
  margin: auto;
  margin-top: 2vh;
  border-radius: 10px;
  max-height: 480px;
  max-width: 450px;
}

.imgandnames {
  display: flex;
  align-items: center;
  padding-left: 5vw;
  padding-top: 1vh;
}
img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.name {
  margin-left: 4vw;
}
h3 {
  color: hsl(0, 0%, 100%);
  position: absolute;
}
.h3diferente {
  color: hsl(217, 19%, 35%);
}

.text {
  width: 80vw;
  max-width: 450px;
}

h4 {
  color: hsl(0, 0%, 81%);
  margin-top: 4vh;
}
p {
  padding: 1vh 5vw;
}

.bigwhitefont {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 1.1em;
}

.biggreyfont {
  color: hsl(217, 19%, 35%);
  font-weight: 600;
  font-size: 1.1em;
}

.smallgreyfont {
  color: hsl(0, 0%, 81%);
}

@media (min-width: 720px) {
  * {
  }
  section {
    display: flex;
    width: 99vw;
    height: 88vh;
    justify-content: center;
    align-items: center;
  }
  .top {
    display: flex;
    padding-left: 2vw;
    padding-top: 5vh;
  }
  .tleft {
    width: 40vw;
    height: 39vh;
    margin-top: 2vh;
    max-width: 550px;
    max-height: 315.3px;
  }
  .tright {
    width: 25vw;
    height: 39vh;
    margin-left: 1vw;
    margin-right: 1vw;
    max-height: 315.3px;
    max-width: 200px;
  }

  .bottom {
    display: flex;
    padding-left: 2vw;
  }
  .bleft {
    width: 25vw;
    height: 39vh;
    max-height: 315.3px;
    max-width: 200px;
  }
  .bright {
    width: 40vw;
    height: 39vh;
    margin-left: 1vw;
    margin-right: 1vw;
    max-width: 550px;
    max-height: 315.3px;
  }

  .rightside {
    padding-top: 5vh;
  }
  aside {
    width: 25vw;
    height: 80vh;
    max-height: 650px;
    max-width: 200px;
  }

  .imgandnames {
    padding-left: 2vw;
    padding-top: 1vh;
  }
  img {
  }
  .name {
    margin-left: 1vw;
  }
  h3 {
  }
  .h3diferente {
  }
  .text {
    width: 25vw;
    max-width: 200px;
  }

  .large {
    width: 40vw;
    max-width: 550px;
  }

  h4 {
    margin-top: 3.3vh;
  }
  p {
    padding: 0vh 1vw;
  }
  .bigwhitefont {
  }

  .biggreyfont {
  }

  .smallgreyfont {
  }
}
